.container {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    gap: 20px;
}

.boxes1 {
    border: 1px solid rgb(255 255 255);
    padding: 2em;
    cursor: pointer;
    transition: .8s ease-in-out;
    line-height: 2.5em;
}

.icons {
    height: 30px;
    width: 50px;
    float: center;
}

.boxes2 {
    border: 1px solid rgb(255 255 255);
    padding: 2em;
    line-height: 2.5em;
    opacity: 0.6;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.H1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 50px;
}

.hi {
    text-align: "center";
    font-size: 50px;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
        margin-left: 0px;
    }
    .flex {
        flex-direction: column;
        align-items: space-between;
        gap: 17px;
    }
    .boxes2 {
        font-size: 1em;
        line-height: 1.5em;
    }
    .boxes1 {
        font-size: 1em;
        line-height: 1.5em;
    }
    .hi {
        text-align: "center";
        font-size: 1px;
    }
    .H1 {
        padding-bottom: 10px;
    }
}