.container {
    
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes1 {
    border: 1px solid rgb(255 255 255);
    padding: 2em;
    cursor: pointer;
    transition: .8s ease-in-out;
    line-height: 2.5em;
    background-color:green;
}

.icons {
    height: 30px;
    width: 50px;
    float: center;
}

.boxes2 {
    border: 1px solid rgb(255 255 255);
    padding: 2em;
    line-height: 2.5em;
    background-color:red;
    opacity: 0.6;
    transition: 1s;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.H1 {
    font-size: 3em;
    font-weight: bold;
}

.hi {
    text-align: "center";
    font-size: 50px;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
        margin-left: 0px;
    }
    .flex {
        
        flex-direction: column;
        align-items: space-between;
        gap: 17px;
    }
    .boxes2 {
      
        font-size: 1em;
        padding: 0.3px;
        line-height: 1.5em;
    }
    .boxes1 {
        
        font-size: 1em;
        padding: 0.1px;
        line-height: 1.5em;
    }
    .hi {
        text-align: "center";
        font-size: 1px;
    }
}