.container {
    margin-left: 35px;
}

.flex {
    position: relative;
}

.boxes1 {
    border: 1px solid rgb(255 255 255);
    height: 360px;
    width: 550px;
    position: absolute;
    top: 160px;
    padding: 2em;
    opacity: 0.6;
    cursor: pointer;
    transition: .8s ease-in-out;
    line-height: 3em;
}

.icons {
    height: 30px;
    width: 50px;
    float: center;
}

.boxes2 {
    position: absolute;
    border: 1px solid rgb(255 255 255);
    height: 360px;
    padding: 2em;
    width: 550px;
    left: 600px;
    line-height: 2.5em;
    top: 90px;
    opacity: 0.6;
    transition: 1s;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.H1 {
    font-size: 3em;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .flex {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}