.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
}

.header {
    grid-column: span 12;
    background: red;
}

.menu {
    grid-column: span 4;
    background: pink;
}

.content {
    grid-column: span 4;
    background: yellow;
}

.footer {
    grid-column: span 12;
    background: red;
}

.cont {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px 200px;
    grid-gap: 3px;
}

.cont div {
    border: 5px solid blue;
}