.Example header {
    padding: 20px;
    color: white;
}

.Example h1 {
    font-size: 4em
}

.Exampled h1 {
    font-size: inherit;
    margin: 0;
}

.Example__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Example__container__load {
    margin-top: 1em;
    color: white;
}

.Example__container__document {
    margin: 1em 0;
}

.Example__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.Example__container__document .react-pdf__Page {
    max-width: calc(100% - 2em);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 1em;
}

.Example__container__document .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
    overflow: hidden;
}

.Example__container__document .react-pdf__message {
    padding: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    .Example__container {
        width: 100%;
    }
    .Example__container__document .react-pdf__message {
        width: 100%;
    }
}