.contactPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    background-color: rgba(82, 82, 82, 0.16);
    color: rgba(144, 142, 142, 0.886);
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.left {
    width: 550px;
    height: 70%;
    line-height: 10px;
}

.info {
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.right {
    height: 70%;
    width: 550px;
    background: inherit
}

.form {
    height: 70vh;
    border-radius: 5px;
    padding: 70px 10px;
    margin: 10px auto;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 1px solid black;
    box-sizing: border-box;
    position: relative;
    max-width: 840px;
}

.formControl {
    margin-bottom: 10px;
}

input[type="email"],
[type="text"] {
    background-color: rgba(255, 255, 255, 0.075);
    color: rgb(255, 255, 255);
    font-family: "Alumni Sans";
    font-size: 1.2em;
    height: 50px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    margin: 0px 1em 1em 0px;
}

.textArea {
    background-color: rgba(255, 255, 255, 0.075);
    color: rgb(255, 255, 255);
    font-family: "Alumni Sans";
    font-size: 1.2em;
    height: 70px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    margin: 0px 1em 1em 0px;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Alumni Sans";
    font-size: 0.9em;
    font-weight: bolder;
    letter-spacing: 4px;
    position: absolute;
    right: 0px;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    padding: 24px 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

input[type="submit"]:hover {
    text-decoration: underline;
    background: inherit;
    color: white;
}