* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Alumni Sans;
    background: black;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #192a69;
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    padding: 0 5rem;
}

footer {
    grid-area: footer;
    background-color: #192a69;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    main {
        padding: 2rem;
    }
}